#autocomplete {
  border: 1px solid;
  overflow: hidden;
  position: absolute;
  z-index: 100; }

#autocomplete ul {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

#autocomplete li {
  background: #fff;
  color: #000;
  cursor: default;
  white-space: pre;
  zoom: 1; }

html.js input.form-autocomplete {
  background-image: url(../images/system-images/throbber-inactive.png);
  background-position: 100% center;
  background-repeat: no-repeat; }

html.js input.throbbing {
  background-image: url(../images/system-images/throbber-active.gif);
  background-position: 100% center; }

html.js fieldset.collapsed {
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  height: 1em; }

html.js fieldset.collapsed .fieldset-wrapper {
  display: none; }

fieldset.collapsible {
  position: relative; }

fieldset.collapsible .fieldset-legend {
  display: block; }

.form-textarea-wrapper textarea {
  display: block;
  margin: 0;
  width: 100%; }

.resizable-textarea .grippie {
  background: #eee url(../images/system-images/grippie.png) no-repeat center 2px;
  border: 1px solid #ddd;
  border-top-width: 0;
  cursor: s-resize;
  height: 9px;
  overflow: hidden; }

body.drag {
  cursor: move; }

.tabledrag-handle {
  cursor: move;
  float: left;
  height: 1.7em;
  margin-left: -1em;
  overflow: hidden;
  text-decoration: none; }

.tabledrag-handle:hover {
  text-decoration: none; }

.tabledrag-handle .handle {
  background: url(../images/system-images/draggable.png) no-repeat 6px 9px;
  height: 13px;
  margin: -0.4em 0.5em;
  padding: 0.42em 0.5em;
  width: 13px; }

.tabledrag-handle-hover .handle {
  background-position: 6px -11px; }

.indentation {
  float: left;
  height: 1.7em;
  margin: -0.4em 0.2em -0.4em -0.4em;
  padding: 0.42em 0 0.42em 0.6em;
  width: 20px; }

.tree-child {
  background: url(../images/system-images/tree.png) no-repeat 11px center; }

.tree-child-last {
  background: url(../images/system-images/tree-bottom.png) no-repeat 11px center; }

.tree-child-horizontal {
  background: url(../images/system-images/tree.png) no-repeat -11px center; }

.tabledrag-toggle-weight-wrapper {
  text-align: right; }

.sticky-header {
  background-color: #fff;
  margin-top: 0; }

.progress .bar {
  background-color: #fff;
  border: 1px solid; }

.progress .filled {
  background-color: #000;
  height: 1.5em;
  width: 5px; }

.progress .percentage {
  float: right; }

.ajax-progress {
  display: inline-block; }

.ajax-progress .throbber {
  background: transparent url(../images/system-images/throbber-active.gif) no-repeat 0 center;
  float: left;
  height: 15px;
  margin: 2px;
  width: 15px; }

.ajax-progress .message {
  padding-left: 20px; }

tr .ajax-progress .throbber {
  margin: 0 2px; }

.ajax-progress-bar {
  width: 16em; }

.container-inline div,
.container-inline label {
  display: inline; }

.container-inline .fieldset-wrapper {
  display: block; }

.nowrap {
  white-space: nowrap; }

html.js .js-hide {
  display: none; }

.element-hidden {
  display: none; }

.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px; }

.element-invisible.element-focusable:active,
.element-invisible.element-focusable:focus {
  position: static !important;
  clip: auto;
  overflow: visible;
  height: auto; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

*:first-child + html .clearfix {
  min-height: 1%; }

#autocomplete li.selected {
  background: #0072b9;
  color: #fff; }

html.js fieldset.collapsible .fieldset-legend {
  background: url(../images/system-images/menu-expanded.png) 5px 65% no-repeat;
  padding-left: 15px; }

html.js fieldset.collapsed .fieldset-legend {
  background-image: url(../images/system-images/menu-collapsed.png);
  background-position: 5px 50%; }

.fieldset-legend span.summary {
  color: #999;
  font-size: 0.9em;
  margin-left: 0.5em; }

.progress {
  font-weight: bold; }

.progress .bar {
  background: #ccc;
  border-color: #666;
  margin: 0 0.2em;
  border-radius: 3px; }

.progress .filled {
  background: #0072b9 url(../images/system-images/progress.gif); }

.messages {
  background-position: 8px 8px;
  background-repeat: no-repeat;
  border: 1px solid;
  margin: 6px 0;
  padding: 10px 10px 10px 50px; }

.status {
  background-image: url(../images/system-images/message-24-ok.png);
  border-color: #be7; }

.status,
.ok {
  color: #234600;
  background-color: #f8fff0; }

.warning {
  background-image: url(../images/system-images/message-24-warning.png);
  border-color: #ed5;
  color: #840;
  background-color: #fffce5; }

.error {
  background-image: url(../images/system-images/message-24-error.png);
  border-color: #ed541d;
  color: #8c2e0b;
  background-color: #fef5f1; }
  .error p.error {
    color: #333; }

.messages ul {
  margin: 0 0 0 1em;
  padding: 0; }

.messages ul li {
  list-style-image: none; }

.node-unpublished {
  background-color: #fff4f4; }

.preview .node {
  background-color: #ffffea; }

td.revision-current {
  background: #ffc; }

.field .field-label {
  font-weight: bold; }

.field-label-inline .field-label,
.field-label-inline .field-items {
  float: left; }

form .field-multiple-table {
  margin: 0; }

form .field-multiple-table th.field-label {
  padding-left: 0; }

form .field-multiple-table td.field-multiple-drag {
  width: 30px;
  padding-right: 0; }

form .field-multiple-table td.field-multiple-drag a.tabledrag-handle {
  padding-right: .5em; }

form .field-add-more-submit {
  margin: .5em 0 0; }

#permissions td.module {
  font-weight: bold; }

#permissions td.permission {
  padding-left: 1.5em; }

#permissions tr.odd .form-item,
#permissions tr.even .form-item {
  white-space: normal; }

#user-admin-settings fieldset .fieldset-description {
  font-size: 0.85em;
  padding-bottom: .5em; }

#user-admin-roles td.edit-name {
  clear: both; }

#user-admin-roles .form-item-name {
  float: left;
  margin-right: 1em; }

.password-strength {
  width: 17em;
  float: right;
  margin-top: 1.4em; }

.password-strength-title {
  display: inline; }

.password-strength-text {
  float: right;
  font-weight: bold; }

.password-indicator {
  background-color: #C4C4C4;
  height: 0.3em;
  width: 100%; }

.password-indicator div {
  height: 100%;
  width: 0%;
  background-color: #47C965; }

input.password-confirm,
input.password-field {
  width: 16em;
  margin-bottom: 0.4em; }

div.password-confirm {
  float: right;
  margin-top: 1.5em;
  visibility: hidden;
  width: 17em; }

div.form-item div.password-suggestions {
  padding: 0.2em 0.5em;
  margin: 0.7em 0;
  width: 38.5em;
  border: 1px solid #B4B4B4; }

div.password-suggestions ul {
  margin-bottom: 0; }

.confirm-parent,
.password-parent {
  clear: left;
  margin: 0;
  width: 36.3em; }

.profile {
  clear: both;
  margin: 1em 0; }

.profile .user-picture {
  float: right;
  margin: 0 1em 1em 0; }

.profile h3 {
  border-bottom: 1px solid #ccc; }

.profile dl {
  margin: 0 0 1.5em; }

.profile dt {
  margin: 0 0 0.2em;
  font-weight: bold; }

.profile dd {
  margin: 0 0 1em; }

.search-form {
  margin-bottom: 1em; }

.search-form input {
  margin-top: 0;
  margin-bottom: 0; }

.search-results {
  list-style: none; }

.search-results p {
  margin-top: 0; }

.search-results .title {
  font-size: 1.2em; }

.search-results li {
  margin-bottom: 1em; }

.search-results .search-snippet-info {
  padding-left: 1em; }

.search-results .search-info {
  font-size: 0.85em; }

.search-advanced .criterion {
  float: left;
  margin-right: 2em; }

.search-advanced .action {
  float: left;
  clear: left; }

/*! Typebase.scss v0.1.0 | MIT License */
/* Setup */
html {
  /* Change default typefaces here */
  font-family: "Poppins";
  font-size: 100%;
  -webkit-font-smoothing: antialiased; }

/* Copy & Lists */
p {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0; }

ul,
ol {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }
  ul li,
  ol li {
    line-height: 1.5rem; }
  ul ul,
  ul ol,
  ol ul,
  ol ol {
    margin-top: 0;
    margin-bottom: 0; }

blockquote {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  /* Change heading typefaces here */
  font-family: "Baloo Paaji";
  margin: 0;
  line-height: 1.5rem;
  margin-top: 1.5rem; }

h1 {
  font-size: 3.6rem;
  line-height: 4.5rem;
  margin-top: 3rem; }

h2 {
  font-size: 2.4rem;
  line-height: 3rem; }

h3, h4, h5, h6 {
  font-size: 1.2rem; }

/* Tables */
table {
  margin-top: 1.5rem;
  border-spacing: 0px;
  border-collapse: collapse; }

td,
th {
  padding: 0;
  line-height: 24px; }

/* Code blocks */
code {
  vertical-align: bottom; }

/* Leading paragraph text */
.lead {
  font-size: 1.2rem; }

/* Hug a the block above you */
.hug {
  margin-top: 0; }

*,
*:before,
*:after {
  box-sizing: border-box; }

html {
  font-family: "Poppins";
  line-height: 1.15;
  width: 100%;
  height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden; }

body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  background: #3C475A; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

article,
aside,
footer,
header,
nav,
section,
figcaption,
figure,
main,
details,
menu {
  display: block; }

figure {
  margin: 1em 40px; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  font-family: "Baloo Paaji";
  text-decoration: none;
  color: #F28D19; }

a:active,
a:hover {
  outline-width: 0; }

a:hover, a:focus {
  text-decoration: underline; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: inherit; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

q {
  font-style: italic; }

h1 {
  margin: 0.67em 0; }

h1, h2, h3 {
  color: #00B1B6; }

ul li {
  list-style-image: url("../images/textures/bullet-turquoise.png");
  padding-left: 10px; }

.below-content ul li {
  list-style-image: url("../images/textures/bullet-white.png"); }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

audio,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

p + img {
  margin-top: 24px; }

th, td {
  border: 2px solid #00B1B6;
  padding: 5px 10px; }

th {
  background-color: #00B1B6;
  color: #fff; }

.below-content th, .below-content td {
  border: 2px solid #fff; }

.below-content th {
  background-color: #fff;
  color: #00B1B6; }

button,
input,
optgroup,
select,
textarea {
  font-family: "Poppins";
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 2px solid #00B1B6;
  margin: 10px 5px;
  padding: 0.35em 0.625em 0.75em; }

.below-content fieldset {
  border: 2px solid #fff; }

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto;
  resize: vertical; }

[type="checkbox"],
[type="radio"] {
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

label {
  display: inline-block;
  margin-bottom: 10px; }

input {
  color: inherit;
  border: none;
  background: bottom left no-repeat url(../images/textures/form-line-turq.png) transparent; }

.below-content input {
  background: bottom left no-repeat url(../images/textures/form-line-white.png) transparent; }

input:focus {
  outline: none; }

button, input[type="submit"] {
  font-weight: bold;
  padding: 10px 15px;
  margin-top: 24px;
  background-color: #F28D19;
  background-image: none;
  border: none;
  color: #fff;
  cursor: pointer; }

button:hover, input[type="submit"]:hover {
  background: bottom no-repeat url("../images/textures/button-hover.png") #F28D19; }

input[type=text],
input[type=number],
input[type=email] {
  width: 100%; }

input[type=checkbox]:not(old), input[type=radio]:not(old) {
  cursor: pointer;
  width: 25px;
  margin: 0;
  padding: 0;
  opacity: 0; }

input[type=radio]:not(old) + label, input[type=checkbox]:not(old) + label {
  cursor: pointer;
  display: inline-block;
  margin-left: -25px;
  padding-left: 25px; }

input[type=radio]:not(old) + label {
  background: url("../images/textures/circle-unchecked-turq.png") no-repeat 0 0; }

.below-content input[type=radio]:not(old) + label {
  background: url("../images/textures/circle-unchecked-white.png") no-repeat 0 0; }

input[type=checkbox]:not(old) + label {
  background: url("../images/textures/square-unchecked-turq.png") no-repeat 0 0; }

.below-content input[type=checkbox]:not(old) + label {
  background: url("../images/textures/square-unchecked-white.png") no-repeat 0 0; }

input[type=checkbox]:not(old):checked + label {
  background: url("../images/textures/square-checked-turq.png") no-repeat 0 0; }

.below-content input[type=checkbox]:not(old):checked + label {
  background: url("../images/textures/square-checked-white.png") no-repeat 0 0; }

input[type=radio]:not(old):checked + label {
  background: url("../images/textures/circle-checked-turq.png") no-repeat 0 0; }

.below-content input[type=radio]:not(old):checked + label {
  background: url("../images/textures/circle-checked-white.png") no-repeat 0 0; }

input[type=file] {
  background: transparent;
  margin: 0 15px; }

.icon-module {
  margin: 36px 18px 48px;
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 150px; }

.icon-module h2 {
  margin-top: 24px;
  text-align: center; }

.icon-mision {
  background-image: url(../images/icons/mision.png); }

.icon-vision {
  background-image: url(../images/icons/vision.png); }

.icon-servicios {
  background-image: url(../images/icons/servicios.png); }

.icon-deportivas {
  background-image: url(../images/icons/football.png); }

.icon-capacitaciones {
  background-image: url(../images/icons/capacitar.png); }

.icon-donaciones {
  background-image: url(../images/icons/camisa.png); }

.icon-metamorfosis {
  background-image: url(../images/icons/metamorfosis.png); }

.icon-financiamiento {
  background-image: url(../images/icons/donar.png); }

.icon-patrocinio {
  background-image: url(../images/icons/dar.png); }

.icon-padrinaje {
  background-image: url(../images/icons/oso.png); }

.cta-container {
  color: #000;
  background-color: #ECCE49;
  text-align: center;
  margin-top: 200px;
  padding: 60px 0 72px 0;
  position: relative; }

.cta-container:before {
  position: absolute;
  z-index: 1;
  top: -130px;
  left: 45%;
  background-color: #ECCE49;
  content: url(../images/icons/hands.png);
  border-radius: 100px;
  width: 200px;
  padding: 20px 0; }

.cta-arrows:before, .cta-arrows:after {
  content: url(../images/textures/arrow.png);
  padding: 0 15px;
  position: relative;
  top: 15px; }

.cta-container h2 {
  margin-bottom: 36px;
  color: #000;
  position: relative;
  z-index: 2;
  cursor: pointer;
  display: inline-block; }

.cta-container a {
  margin: 24px; }

.webform-component {
  margin-top: 24px; }

.webform-submit {
  width: 100%; }

.logo {
  padding: 10px 0 10px 10px;
  width: 200px; }

.dropdown-menu {
  color: #3C475A;
  font-size: 18px;
  float: right;
  margin: 35px 25px 0 0; }

.principal-menu {
  background-color: #3C475A;
  font-size: 18px;
  height: 100vh;
  padding-top: 15px;
  position: absolute;
  right: 0;
  top: 0;
  width: 280px;
  z-index: 20; }
  @media (min-width: 900px) {
    .principal-menu {
      background-color: transparent;
      font-size: 16px;
      float: right;
      height: auto;
      margin: 10px 10px 0 0;
      padding: 0;
      position: static;
      width: auto; } }
  .principal-menu li {
    list-style: none;
    padding: 0 0 5px 0; }
  .principal-menu a {
    color: #fff; }
    @media (min-width: 900px) {
      .principal-menu a {
        color: #3C475A;
        background: none; } }
    .principal-menu a:focus {
      text-decoration: none; }
    .principal-menu a:hover {
      text-decoration: none; }
      @media (min-width: 900px) {
        .principal-menu a:hover {
          background: bottom left no-repeat url(../images/textures/form-line-turq.png) transparent; } }
    .principal-menu a:active {
      background: bottom left no-repeat url(../images/textures/form-line-white.png) transparent; }
      @media (min-width: 900px) {
        .principal-menu a:active {
          background: none; } }
  .principal-menu > .menu > li {
    padding-bottom: 20px; }
    @media (min-width: 900px) {
      .principal-menu > .menu > li {
        display: inline-block;
        margin-right: 20px; } }
  .principal-menu > .menu > li > a {
    background: bottom left no-repeat url(../images/textures/form-line-turq.png) transparent; }
    @media (min-width: 900px) {
      .principal-menu > .menu > li > a {
        background: none; } }
    @media (min-width: 900px) {
      .principal-menu > .menu > li > a:hover {
        background: bottom left no-repeat url(../images/textures/form-line-turq.png) transparent; } }
  .principal-menu > .menu > li > .menu {
    margin-top: 5px; }
    @media (min-width: 900px) {
      .principal-menu > .menu > li > .menu {
        display: none;
        margin: 0; } }
  @media (min-width: 900px) {
    .principal-menu > .menu > li:hover {
      position: relative; } }
  @media (min-width: 900px) {
    .principal-menu > .menu > li:hover > ul {
      background-color: #F4EDD9;
      display: block;
      left: 0;
      padding: 20px 0 0 0;
      position: absolute;
      left: -45px;
      text-align: center;
      width: 170px; } }

.icon-menu {
  font-size: 30px;
  margin-left: 15px; }

.opacity {
  background-color: #F4EDD9;
  height: 100%;
  opacity: 0.5;
  position: absolute;
  width: 100%; }

.header {
  background-color: #F4EDD9; }

.menu {
  margin-bottom: 0; }

.header-img img {
  width: 100%; }

.main {
  background-color: #fff;
  padding: 48px 72px 48px;
  margin-bottom: 60px; }

.wide-column {
  padding: 48px 0; }

.below-content {
  color: #fff;
  width: 80%;
  margin: 0 auto;
  max-width: 1200px; }

.content-1col {
  width: 50%;
  max-width: 800px;
  margin: 0 auto; }

.footer {
  background-color: #00B1B6; }

.footer h2, .footer h3 {
  color: #000; }

/*# sourceMappingURL=style.css.map */
