.site-logo {
    float: left;
    width: 190px;

    @include query(600px) {
        margin-top: 10px;
        max-width: 210px;
    }

    @include query(900px) {
        max-width: 150px;
    }

    @include query(1100px) {
        max-width: 210px;
    }

    img {
        display: block;
        width: 100%;
    }
}