.cta-container {
	color: #000;
	background-color: $theme-yellow;
	margin-top: 200px;
	padding-top: 50px;
	position: relative;
}

.cta-container:before {
	position: absolute;
	z-index: 1;
	top: -130px;
	left: 50%;
	margin-left: -100px;
	display: block;
	content: "";
	background: url('../images/icons/hands.png') center no-repeat $theme-yellow; 
	border-radius: 100px;
	width: 200px;
	height: 200px;
	padding: 20px 0;
}

//Content
.cta-wrapper {
	width: 90%;
	max-width: 1000px;
	margin: 0 auto;
}

// Title
.cta-title {
	text-align: center;
	position: relative;
	padding-bottom: 72px;
	cursor: pointer;
}

.cta-title p {
	font-weight: bold;
	font-size: 18px;
}

.cta-arrows {
	color: #000;
	display: inline-block;
}


@media (min-width: 600px) {
	.cta-arrows:before, 
	.cta-arrows:after {
		display: inline-block;
		content: "";
		background: url('../images/icons/spritesheet.png') no-repeat -380px -266px;
		width: 36px;
		height: 64px;
		margin: 0 15px;
		position: relative;
		top: 15px;
	}
}

// Hidden Content
.cta-content {
	padding-bottom: 72px;

	@media (min-width: 600px) {
		max-width: 400px;
		margin: 0 auto;
	}

	@media (min-width: 950px) {
		padding-bottom: 96px;	
	}

	@media (min-width: 1200px) {
		vertical-align: top;
		width: 45%;
		margin: 0 30px;
		display: inline-block;
	}
} 

.fix-padding {
	padding-bottom: 48px;
}

.cta-content h2 {
	font-size: 24px;
	color: #000;
	text-align: center;

	@media (min-width: 550px) {
		font-size: 30px;
	}
}

.cta-content .content p:last-child {
	text-align: center;
}

.cta-content a {
	text-decoration: none;
	margin-top: 30px;
}

@media (min-width: 950px) {
	.float-left {
	    float: left;
	}
	.float-right {
	    float: right;
	}
}