.cta-container {
	background-color: $theme-yellow;
	text-align: center;
	margin-top: 200px;
	padding: 60px 0;
}

.cta-container h2 {
	color: #000;
	position: relative;
	z-index: 2;
}

.cta-container button {
	padding: 5px 10px;
}

.cta-container:before {
	position: absolute;
	z-index: 1;
	top: -125px;
	left: 45%;
	background-color: $theme-yellow; 
	content: url(../images/icons/hands.png);
	border-radius: 100px;
	width: 200px;
	padding: 20px 0;
}