.front-ft {
	width: 100%;
	padding: 30px;
	background-color: $brand-turquoise;
	@include query (850px) {
		max-width: 500px;
		background-color: rgba(0, 177, 182, 0.7);
		position: absolute;	
		z-index: 3;
		top: 75px;	
		transform: translateX(-50%);
		left: 50%;
		box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.4);
		border-radius: 10px;
	}
	@include query(1000px) {
		top: 120px;
	}
	@include query(1400px) {
		top: 155px;
	}
}

.front-ft p {
	max-width: 350px;
	margin: 0 auto;
	font-family: $font-family-headings;
	font-size: 200%;
	line-height: 115%;
	color: #fff;
	text-align: center;
}

.front-description {
	background-color: #fff;
	padding: 70px 30px;
	position: relative;
	z-index: 3;
	margin-bottom: 50px;
}

.front-description:before {
	margin: 0 auto 24px;
}

.front-description p {
	margin: 0 auto;
	max-width: 500px;
}