.icon-module {
	margin: 36px 18px 48px;
	background-repeat: no-repeat;
	background-position: top center;
	padding-top: 150px;
}

.icon-module h2 {
	margin-top: 24px;
	text-align: center;
}

// Icon classes

.icon-mision {
	background-image: url(../images/icons/mision.png);
}

.icon-vision {
	background-image: url(../images/icons/vision.png);
}

.icon-servicios {
	background-image: url(../images/icons/servicios.png);
}

.icon-deportivas {
	background-image: url(../images/icons/football.png);
}

.icon-capacitaciones {
	background-image: url(../images/icons/capacitar.png);
}

.icon-donaciones {
	background-image: url(../images/icons/camisa.png);
}

.icon-metamorfosis {
	background-image: url(../images/icons/metamorfosis.png);
}

.icon-financiamiento {
	background-image: url(../images/icons/donar.png);
}

.icon-patrocinio {
	background-image: url(../images/icons/dar.png);
}

.icon-padrinaje {
	background-image: url(../images/icons/oso.png);
}