.icon-module {
}

// Icon classes

.icon-mision:before {
	content: url(../images/icons/mision.png);
}

.icon-vision:before {
	content: url(../images/icons/vision.png);
}

.icon-servicios:before {
	content: url(../images/icons/servicios.png);
}

.icon-deportivas:before {
	content: url(../images/icons/football.png);
}

.icon-capacitaciones:before {
	content: url(../images/icons/capacitar.png);
}

.icon-donaciones:before {
	content: url(../images/icons/camisa.png);
}

.icon-metamorfosis:before {
	content: url(../images/icons/metamorfosis.png);
}

.icon-financiamiento:before {
	content: url(../images/icons/donar.png);
}

.icon-patrocinio:before {
	content: url(../images/icons/dar.png);
}

.icon-padrinaje:before {
	content: url(../images/icons/oso.png);
}