.offcanvas-overlay {
    background-color: #000;
    opacity: 0;
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 7;

    &.is-visible {
        display: block;
        opacity: .5;
    }
}

.principal-menu {
    background-color: $brand-blue;

    @include query(900px) {
        background-color: transparent;
        float: right;
        font-size: 16px;
        height: auto;
        padding: 0;
        position: static;
        width: 80%;
    }

    & > .menu {
        margin-top: 50px;

        @include query(900px) {
            display: table;
            padding-left: 0;
            margin: 0;
            table-layout: fixed;
            width: 100%;
            max-width: 1100px;
        }
    }
    a {
        color: #fff;
        display: block;
        font-family: $font-family-headings;
        padding: .5em;
        text-decoration: none;

        @include query(900px) {
            color: $brand-blue;
            background: none;
        }

        &:focus {
            text-decoration: none;
        }
        &:hover {
            text-decoration: none;
        }
    }
}

.menu-item {
    list-style: none;
    margin-bottom: 20px;
    padding: 0;
    position: relative;

    @include query(900px) {
        display: table-cell;
        font-size: 14px;
        text-align: center;
        margin: 0;

        > a:link {
            border-top: 6px solid transparent;
            display: block;
            padding: 35px 0 5px;
            white-space: nowrap;
        }
        a:hover,
        &.active-trail .active {
            border-top-color: $brand-turquoise;
        }
    }

    @include query(1100px) {
        font-size: 16px;
    }

    @include query(1200px) {
        font-size: 18px;
    }

    @include query(1400px) {
        font-size: 20px;
    }

    li {
        padding: 0;
    }
}

.expanded {
    .menu {
        margin-bottom: 0;
        margin-left: 30px;
        padding: 0;

        @include query(900px) {
            display: none;
            left: -35%;
            margin-left: 0;
            position: absolute;
            background: #e8e2cf;
            width: 236px;
        }

        @include query(1200px) {
            left: -6%;
        }
    }
    li {
        @include query(900px) {
            border-bottom: 1px solid #c7c4bb;
            border-top: 1px solid #e8e3d3;
            list-style: none;

            &:first-child {
                border-top: 0;
            }
            &:last-child {
                border-bottom: 0;
            }
            a {
                background: #dbd5c3;
            }
            a:hover {
                background: #e8e4d7;
            }
        }
    }
}

.expanded:hover {
    .menu {
        display: block;
    }
}

.mobile-nav-link,
.mobile-nav-close {
    font: 18px $font-family-headings;
    text-decoration: none;
}

.mobile-nav-link {
    color: $brand-blue;
    float: right;
    margin: 15px 5px 0 0;
    border: 2px solid;
    padding: 5px 10px;
    border-radius: 4px;

    @include query(900px) {
        display: none;
    }
}

.mobile-nav-close {
    color: #fff;
    position: absolute;
    right: 10px;
    top: 0;
    text-transform: uppercase;

    @include query(900px) {
        display: none;
    }
}

.mobile-main-menu {
    border-left: 1px solid #8a92a0;
    display: none;
    font-size: 18px;
    bottom: 0;
    padding-top: 15px;
    position: absolute;
    right: -280px;
    top: 0;
    width: 280px;
    z-index: 8;

    &.is-open {
        display: block;
        right: 0;
    }
}