@media (max-width: 700px) {
    nav > .menu{
        height: 100vh;
    }

    .dropdown-menu {
        float: right;
        margin: 5%;

        span {
            color: $brand-blue;
            font: 4vw "Baloo Paaji";
            margin-right: 10px;
        }

        img {
            width: 10vw;
        }
    }

    .block-menu {
        display: inline;
    }
}

@media (max-width: 360px) {
    .dropdown-menu {
        margin-top: 6%;
    }
}

@media (max-width: 1200px) {
    .dropdown-menu {
        display: none;
    }
}
