.bg-pattern {
    background-image: url("../images/textures/p6.png");
    background-repeat: repeat;
}

.footer {
	background-color: #11767b;
    border-top: 8px solid #048e92;
    overflow: hidden;
}

.footer-bottom {
    overflow: hidden;
}

.footer-top {
    background-color: $brand-turquoise;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .5);
    overflow: hidden;
    padding: 0 .75em;
}

.l-footer {
    overflow: hidden;
    padding: 2.5em .75em;

    @include query(700px) {
        padding: 2.5em;
    }

    @include query(1100px) {
        padding: 3em 4em;
    }
}