.header {
	background-color: $theme-cream;
    padding: 1em;

    @include query(900px) {
        padding: 1em 2em;
    } 
}

.header-img img {
	width: 100%;
	margin: 0;
}

.logged-in .header {
    padding-top: 5em;

    @include query(450px) {
        padding-top: 3em;
    }

    @include query(700px) {
        padding-top: 1em;
    }
}
