.header {
    @include micro-clearfix;
	background-color: $theme-cream;
    padding: 1em;

    @include query(900px) {
        box-shadow: 0px 5px 15px rgba(0, 0, 0, .5);
        position: relative;
        z-index: 10;
        padding: 0 2em 1em;
    } 
}

.header-img img {
	width: 100%;
	margin: 0;
}

.logged-in .header {
    padding-top: 5em;

    @include query(450px) {
        padding-top: 3em;
    }

    @include query(700px) {
        padding-top: 1em;
    }
}
