.main {
	background-color: #fff;
	padding: 48px 72px 48px;
	margin-bottom: 60px;
}

.wide-column {
	padding: 48px 0;
}

.below-content {
	color: #fff;
	width: 80%;
	margin: 0 auto;
	max-width: 1200px;
}

.content-1col {
	width: 50%;
	max-width: 800px;
	margin: 0 auto;
}

.content-2col {
	
}