.main-content {
    position: relative;
}

.page-user .main-content {
    background-color: #fff;
    padding: 30px 0;
}

.profile, #user-login {
    width: 80%;
    max-width: 800px;
    margin: 100px auto 0;
}

.main {
    border-top: 10px solid rgba(249, 234, 130, .4);
    padding: 36px 36px 24px;
    background: top center no-repeat url("../images/textures/bg-texture-difuse.jpg"),
                bottom no-repeat url("../images/textures/bg-texture-down.jpg");
    background-color: #fff;
    
    @include query(500px) {
        padding: 60px 72px 0;
        position: relative;
        width: 90%;
        left: 10%;
        margin-top: -100px;
    }
    
    @include query(940px) {
        box-shadow: -10px 0px 15px rgba(0, 0, 0, .5);
    }

    @include query(1200px) {
        overflow: hidden;   
    }
}

.left-column {
    @include query(1240px) {
        float: left;
        margin-right: 130px;
        min-width: 300px;
        max-width: 350px;
    }
}

.right-column {
    max-width: 640px;

    @include query(1240px) {
        float: left;
    }
}

.wide-column {
    padding: 36px 0;
    display: flex;
    flex-wrap: wrap;

    @include query(1200px) {
        width: 100%;
    }
}

.last-column {
    width: 100%;
    padding-bottom: 72px;
}

.below-content {
    color: #fff;
    width: 80%;
    margin: 100px auto;
    max-width: 1200px;
}

@include query(1200px) {
    .content-1col {
        width: 60%;
        max-width: 800px;
        margin: 0 auto;
    }
}