// Normalize
// ==========================================================================
// Remove the border on images inside links in IE 10-.
img {
  border-style: none;
  margin: 24px 0;
}

// Hide the overflow in IE.
svg:not(:root) {
  overflow: hidden;
}