ul li {
	list-style-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAALCAYAAABLcGxfAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAQhJREFUeNpsUTsOQUEUvfPeEAmJtwOUOnagUJMoaWxAYgnsQqlSU5OQEIXKDgiJKMQvEr/nPWcmM4zPTc7cmZtz7mcu832ftCV6AweuCIxn2cyU/hjTApAzcG0gChyAFTABqhDvPwQgl3GvAbHvjEi3ZEQliIZSEO/2U/ADlZmOriuJQcuiEGBYWrQpIgVNvngebW93ifXlSht47z1jQxxCkNMRQTTthGrnh6efSbQet9SgMpOR7WU3/yVYoKW5EDRlKcYowvmPgCOurCffgKMjToBDZNPu7tIV84QtRmGbi7odyOrmtzqqUl4EH6o1G9lxm4JcQTujj8UZy6sCAaClfq9lLu4pwAAuoXAF4MGVQAAAAABJRU5ErkJggg==');
	padding-left: 10px;
}

.below-content ul li {
	list-style-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAALCAYAAABLcGxfAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAJNJREFUeNpi+P//PwMSFgDiLCA2QBOHY2SOAxB/+A8BIPoaEC+AGoKhIQGIH/zHDh4BsS2yBgMkk/EBsDOZGBgYgoCYn4EwmAEmgbou/CcOfARiBZANGxiIA4+A+AFIwwIiNeyBOcmAgFP+AfF6WPAiR9gGHBrOA7ENLFgZwboQwAGIC4CYFYiXQUMPRH+AKQAIMACTyjZUGL4iKwAAAABJRU5ErkJggg==');
}


