th, td {
	border: 2px solid $brand-turquoise;
	padding: 5px 10px;
}

th {
	background-color: $brand-turquoise;
	color: #fff;
}

.below-content th, .below-content td {
	border: 2px solid #fff;
}

.below-content th {
	background-color: #fff;
	color: $brand-turquoise;
}