/* ==========================================================================
   =Modules
   ========================================================================== */

.menu {
    list-style-type: none;
    float: right;
    margin: 0;
}

.menu li {
    display: inline-block;
}

.menu a {
    color: #3c465a;
    display: block;
}

.menu a:hover {
    border-top: 5px solid #03b2b7;
    border-bottom: none;
}

.menu li ul li {
    display: block;
}
