/*
  =BASE
--------------------------------------------- */

body {
    margin: 0;
    padding: 0;
}


/*
  =LAYOUT
--------------------------------------------- */

.header {
    background: #E1DAC8;
    -moz-box-shadow: 2px 5px 10px #888;
    -webkit-box-shadow: 2px 5px 10px #888;
    box-shadow: 2px 5px 10px #888;
}

.header .grid,
.main-content,
.footer {
    max-width: 70em;
    margin: 0 auto;
    overflow: hidden;
    zoom: 1;
}

.one-sidebar .main {
    width: 60%;
    padding: 0 0.875em;
}

.one-sidebar #sidebar-first {
    width: 40%;
    padding: 0 0.875em;
}

.sidebar-first .main {
    float: left;
}

.sidebar-first #sidebar-first {
    float: right;
}

.left-gu {
    float: left;
    background-color: #c3c3c3;
}

.right-gu {
    float: right;
    background-color: #398324;
}

.clearfix {
    overflow: hidden;
    zoom: 1;
}

/*
  =MEDIA QUERIES
--------------------------------------------- */

@media only screen and (min-width: 30em) {
    /* > 480 */
}

@media only screen and (min-width: 30em) and (max-width: 35em) {}

@media only screen and (min-width: 35em) {
    /* > 560 */
}

@media only screen and (min-width: 40em) {
    /* > 640 */
}

@media only screen and (min-width: 45em) {
    /* > 720 */
}

@media only screen and (min-width: 55em) {
    /* > 880 */
}

@media only screen and (min-width: 60em) {
    /* > 960 */
}
