/* ==========================================================================
   =Theme
   ========================================================================== */

#logo {
    border: 0;
    float: left;
    padding: 1% 0;
    width: 22%;
}

#logo:hover {
    background: transparent;
}