// Font family
$font-family-base: 'Poppins';
$font-family-headings: 'Baloo Paaji';

// Colores

$brand-blue: #3C475A;
$brand-turquoise: #00B1B6;
$brand-orange: #F28D19;

$theme-cream: #F4EDD9;
$theme-yellow: #ECCE49;